*{
    padding: 0%;
    margin: 0px;
    outline: none;
    border: none;
    position: relative;
    box-sizing: border-box;
}

body{
    height: 100svh;
    max-height: 100svh;
    width: 100svw;
    max-width: 100svw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: fit-content;
    height: 55%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    line-height: 1.5;
}

input{
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 5px;
}

#submit{
    padding: 5px;
    background-color: lightskyblue;
    border-color: lightskyblue;
    color: white;
    transform: translate(110px,30px);
}